[submodule "scripts/tools"]
	path = scripts/tools
	url = https://github.com/PonomarevDA/tools.git
[submodule "src/UavDynamics"]
	path = src/UavDynamics
	url = git@github.com:PonomarevDA/uav_dynamics.git
[submodule "src/websocketpp"]
	path = src/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "src/mavlink_c_library_v2/mavlink"]
	path = src/mavlink_c_library_v2/mavlink
	url = https://github.com/mavlink/c_library_v2.git
[submodule "src/DronecanInterface"]
	path = src/DronecanInterface
	url = git@github.com:PonomarevDA/dronecan_sim_interface.git
